# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/react-app/node_modules
app/react-app/.pnp
app/react-app/.pnp.js

# testing
app/react-app/coverage

# production
app/react-app/build

# misc
.DS_Store
app/react-app/.env.local
app/react-app/.env.development.local
app/react-app/.env.test.local
app/react-app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

